.repository-card {
  max-width: 50%;
  min-width: 369px;
  height: 186px;
  background-color: var(--gray);
  border-radius: 6px;
  padding: 19px;
}

.repository-name {
  font-size: 14px;
  font-weight: 700;
  color: var(--text-color-1);
  text-transform: uppercase;
}

.repository-description {
  height: 70px;
  font-size: 12px;
  line-height: 18px;
  margin-top: 5px;
  margin-bottom: 24px;
  color: var(--text-color-2);
  overflow-y: hidden;
}

.repository-footer{
  display: flex;
  align-items: center;
  gap: 5.7px;
}

.view-project{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: var(--gray);
  border: 2px solid var(--cyan);
  border-radius: 8px;
  cursor: pointer;
}