.card-user{
    width: 288px;
    height: 270px;
    background-color: var(--gray);
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transition: box-shadow .3s ease-out;
}

.card-user:hover{
    box-shadow: var(--box-shadow);
}

.user-image{
    width: 121px;
    height: 121px;
    border-radius: 50%;
}

.user-image img{
    width: 100%;
}

.my-infos{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 24px;

    gap: 4px;
}

.user-name{
    font-size: 14px;
    font-weight: 700;
}