.content-grid{
    margin-top: 37px;
    display: grid;
    grid-template-columns: 288px 1fr ;
    gap: 100px;
}

.left-sidebar{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.repositories{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 34px;
    padding: 0 10px;
    
}